/* src/App.css (EN ALTA EKLE) */

/* Yeni Tur Butonu */
.btn-primary {
    margin-top: 10px;
    padding: 12px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color: #887bff; /* Mavi */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #5f56b3; /* Koyu Mavi */
    transform: scale(1.06);
}
.App {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    /* Ekranı kaplamasın, maksimum 960px genişliğinde olsun */
    max-width: 960px;

    /* Bu sihirli satır: Üst/alttan 40px,
       sağ/soldan 'auto' (yani otomatik ortala) boşluk bırakır */
    margin: 40px auto;

    /* Artık arka planı şeffaf değil, beyaz bir kart */
    background-color: #ffffff;

    /* Kenarları yumuşatalım */
    border-radius: 16px;

    /* Güzel, yumuşak bir gölge verelim */
    box-shadow: 0 8px 16px rgba(0,0,0,0.05);

    /* Kartın iç boşluğu (içerik kenara yapışmasın) */
    padding: 30px 40px;

    /* İçindeki metinleri yine ortalasın */
    text-align: center;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.image-box {
    border: 4px solid #121122; /* Gri çerçeve */
    border-radius: 10px;    /* Kenarları yuvarlat */
    padding: 5px;          /* Resim ile çerçeve arasına iç boşluk */
    background-color: #3d1f9f; /* Hafif gri arka plan */
    cursor: pointer;        /* Üzerine gelince fare imlecini 'el' yap */
    transition: all 0.3s ease; /* BÜTÜN değişiklikler (hover vb.) 0.3 saniyede, yavaşlayarak gerçekleşsin */
}
.image-box:hover {
    border-color: #9f8aff; /* Çerçeve rengini mavi-mor yap */
    transform: scale(1.01); /* Kutuyu %1 büyüt */
}
.image-box img {
    width: 250px;
    height: 250px;
    object-fit: cover; /* Bu çok önemli! */
    display: block;
}
.message {
    font-size: 1.2rem;
    font-weight: bold;
    min-height: 25px; /* Önemli! */
}
.image-box.correct {
    background-color: #4CAF50; /* Yeşil */
    border-color: #388E3C;
    transform: scale(1.05); /* %10 büyüt */
    cursor: not-allowed; /* Tıklanamaz imleci */
}